
.servicio-section {
    background-color: #cfeaf3;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.servicio-section h1 {
    font-size: 50px;
    color: #000;
}

.subtexto {
    max-width: 350px;
    font-size: 20px;
    line-height: 1.4;
}

.servicio-section h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 50px;
}

/* ===== ITEMS ===== */

.servicio-item,
.instalacion-item {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 50px;
}

.servicio-item img {
    width: 150px;
}

.instalacion-item img {
    width: 170px;
}

.texto-lateral h3 {
    margin: 0;
    font-size: 38px;
}

.texto-lateral p,
.instalacion-texto {
    margin: 5px 0;
    font-size: 20px;
    max-width: 350px;
    line-height: 1.4;
}
@media (max-width: 992px) {

    .servicio-section h1,
    .servicio-section h2 {
        font-size: 38px;
    }

    .servicio-item,
    .instalacion-item {
        gap: 25px;
    }

    .texto-lateral h3 {
        font-size: 30px;
    }

    .texto-lateral p,
    .instalacion-texto {
        font-size: 18px;
    }
}
@media (max-width: 576px) {

    .servicio-section {
        padding: 25px;
    }

    .servicio-section h1,
    .servicio-section h2 {
        font-size: 30px;
        text-align: center;
    }

    .subtexto {
        font-size: 18px;
        text-align: center;
        margin: 0 auto 30px;
    }

    .servicio-item,
    .instalacion-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .servicio-item img,
    .instalacion-item img {
        width: 130px;
    }

    .texto-lateral h3 {
        font-size: 26px;
    }

    .texto-lateral p,
    .instalacion-texto {
        font-size: 17px;
        max-width: 100%;
    }
}
